<%= link_to 'New Employee', new_employee_path %>

<h1>
  Employees
  <small>All Employees</small>
</h1>
<ol class="breadcrumb">
  <li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
  <li class="active">Employee List</li>
</ol>

<div class="portlet portlet-default" style="margin-top:25px">
  <div class="portlet-heading">
    <div class="portlet-title">
      <h4>Employee List</h4>
    </div>
    <div style="float:right">
      <a href="#" onclick="loadNew('employeeList')"><i class="fa fa-list"></i></a>
      <a href="#" onclick="loadNew('employeeTable')"><i class="fa fa-table"></i></a>
    </div>

    <div class="clearfix"></div>
  </div>
  <div id="buttons" class="panel-collapse collapse in">
    <div class="protlet-body" id="tableWrapper" style="background-color:#ffffff; padding-right:25px; padding-left:25px; padding-bottom:25px">
    <%= render partial:'listEmployee' %>
    </div>
  </div>
</div>

<div class="modal modal-flex fade in" id="flexModal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="false" style="display: none;">
  <div class="modal-dialog employee-block">

  </div><!-- /.modal-dialog -->
</div>


<script>
    retrieveEmployee = function (employee) {
        var msg = {"employee":employee};
        $.ajax({
            type: 'GET',
            url: '/employees/'+employee,
            dataType: 'html',
            data: msg,

            success: function (response) {
                $('.employee-block').html(response);
            }
        });
    }

    $(document).ready(function() {
        $('#example').dataTable();
    } );

    function loadNew(variable)
    {
        var msg = {"variable":variable};
        $.ajax({
            type: 'GET',
            url: '/employees',
            dataType: 'html',
            data: msg,
            success: function(response){
                $('#tableWrapper').html(response);
            }
        })
    }
</script>




