
        <h1>
          Patients <small>New Patient</small>
        </h1>
        <ol class="breadcrumb">
          <li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
          <li class="active">New Patient</li>
        </ol>
<%= render 'form' %>
